@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(14, 18, 18);
    color: rgb(255, 255, 255);
    font-family: 'Archivo', sans-serif;
}

.container {
    padding: 0 150px;
}

.artists h1,
.tickets h1,
.contact h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

#artists,
#tickets,
#contact {
    height: 80px;
}

/*---------------NAVIGATION---------------*/
nav {
    position: fixed;
    width: 100%;
    background-color: rgba($color: rgb(14, 18, 18), $alpha: 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;

    #click {
        display: none;
    }

    i {
        cursor: pointer;
        font-size: 22px;
        display: none !important;
    }

    li {
        display: inline-block;
        padding-left: 20px;
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: rgb(180, 181, 181);
            transition: .2s ease-in-out;

            &:hover {
                color: rgb(255, 255, 255);
            }
        }
    }
}

.logo {
    font-size: 20px;
    font-weight: 600;
}

.button button {
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgba($color: #fff, $alpha: .2);
    color: rgb(255, 255, 255);
    border: none;
    text-transform: uppercase;
    transition: .2s ease-in-out;

    &:hover {
        background-color: rgba($color: #fff, $alpha: .4);
    }

}

/*---------------HEADER---------------*/
header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, rgba(14, 18, 18, 0.9) 10%, rgba(14, 18, 18, 0)), url('../images/header.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text__container {
    height: 80vh;
    display: flex;
    align-items: center;
}

.header__text {
    h1 {
        font-size: 100px;
        text-transform: uppercase;
        font-weight: 800;
    }

    p {
        font-size: 20px;

        &.headerDate {
            text-transform: uppercase;
        }
    }
}

.header__scroll {
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

    i {
        margin-top: 10px;
        font-size: 20px;
    }
}

.bounce {
    animation-name: bounce;
    animation-timing-function: linear;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


/*---------------ARTISTS---------------*/
.artists__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    grid-auto-columns: 1fr;
    padding-bottom: 100px;
}

.artist__card {
    cursor: pointer;
    filter: brightness(0.30);
    transition: .2s ease-in-out;

    &:hover {
        filter: brightness(1);
    }

    img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
}


/*---------------TICKETS---------------*/
.tickets__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    grid-auto-columns: 1fr;
    place-items: center;
}

.ticket__card {
    background-color: rgb(21, 24, 24);
    width: 100%;
    height: 500px;
    padding: 50px 50px;
    transition: .2s ease-in-out;
    position: relative;
    object-fit: cover;

    &:hover {
        transform: translateY(-10px) !important;
        background-color: rgb(31, 34, 34);
    }

    li {
        list-style: none;
    }
}

.card__title {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 600;
}

.silver {
    background: linear-gradient(to right, rgb(249, 255, 255) 0%, rgb(214, 230, 244) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gold {
    background: linear-gradient(to right, rgb(247, 238, 109) 0%, rgb(220, 166, 80) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.platinum {
    background: linear-gradient(to right, rgb(115, 223, 250) 0%, rgb(92, 172, 220) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__button {
    background-color: transparent;
    padding: 15px 80px;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 15px;
    transition: .2s ease-in-out;
    cursor: pointer;
    margin-top: 50px;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;

    &:hover {
        color: rgb(31, 34, 34);
        background-color: #fff;
    }
}







.contact__container {
    background-color: rgb(21, 24, 24);
    width: 100%;
    text-align: center;
}

.contact__text,
.contact__form {
    padding: 40px 0;
}

form {
    display: grid;
    grid-template-columns: 1fr;

    button {
        width: 10%;
        margin-top: 50px;
    }
}

textarea {
    min-height: 100px;
    height: 100%;
}

.contact__form input,
textarea {
    width: 50%;
    height: 60px;
    border: none;
    padding: 10px;
    font-size: 12px;
    background-color: rgb(31, 34, 34);
    transition: .2s ease-in-out;
    color: white;
    margin-bottom: 10px !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    resize: none;

    &:focus {
        background-color: rgb(41, 44, 44);
    }
}

footer {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
    color: rgb(214, 230, 244);
    display: flex;
    justify-content: space-between;

    li {
        display: inline-block;
        margin-left: 20px;
    }

    a {
        text-decoration: none;
        color: rgb(214, 230, 244);

        &:hover {
            color: rgb(255, 255, 255);
        }
    }
}

/*MEDIA MORE THAN FULL HD*/
@media (min-width: 1920px) {
    .artists__gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

/*MEDIA TABLET*/
@media (max-width: 1025px) {
    nav {
        #click:checked~ul {
            left: 0;
        }

        i {
            display: block !important;
        }

        ul {
            position: fixed;
            top: 80px;
            left: -100%;
            height: 100vh;
            width: 100%;
            background-color: rgba($color: rgb(14, 18, 18), $alpha: 0.1);
            backdrop-filter: blur(20px);
            webkit-backdrop-filter: blur(20px);
            transition: .5s ease-in-out;

            li {
                display: block;
                text-align: center;
                margin-top: 100px;

                a {
                    color: rgb(255, 255, 255) !important;
                    font-size: 22px;

                    &:hover {
                        font-size: 26px;
                    }
                }
            }
        }
    }

    .artists__gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .tickets__gallery {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .contact__form {

        input,
        textarea {
            width: 80%;
        }

        button {
            width: 80%;
        }
    }
}

/*MEDIA MOBILE*/
@media (max-width: 940px) {
    .container {
        padding: 0 30px;
    }

    .header__text {
        text-align: center;
        width: 100%;

        h1 {
            font-size: 70px;
        }

        p {
            font-size: 20px;
        }
    }

    .artists__gallery {
        grid-template-columns: 1fr;
    }

    .artist__card {
        text-align: center;
    }

    footer {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;

        li {
            display: block;
            margin-top: 20px;
        }
    }
}